{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}
{% from "macros.html" import task_list with context %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>To-Do Items</h2>
      <ul class="list-group mb-4">
        {{ task_list(incomplete_items, 'Not Started')}}
        <h2>Complete Items</h2>
      <ul class="list-group mb-4">
        {{ task_list(completed_items, 'Complete')}}
        <form method="post" action="{{ url_for('create_task') }}">
          <h3><label for="task_title">Add a new task</label></h3>
          <input id="task_title" name="task_title" required type="text" class="form-control">
          <button type="submit" class="btn btn-primary"> Add</button>
        </form>
      </ul>
    </div>
  </div>
{% endblock %}